@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background-color: #0E0428;
    overflow: hidden;
    color: #A9B7C6;
}

.container {
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.container p {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0.5rem;
}

.button {
    text-align: center;
    font-size: 1.5rem;
    background-color: transparent;
    color: #A9B7C6;
    border: 2px solid #CC7832;
    padding: 15px 100px 15px 100px;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #CC7832;
    color: white;
}

.typed-text {
    font-weight: bold;
    color: #CC7832;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #A9B7C6;
    margin-left: 0.1rem;
    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% { background-color: #A9B7C6; }
    49% { background-color: #A9B7C6; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: #A9B7C6; }
}